In [1]:
import pandas as pd

In [2]:


data = pd.read_csv('kabitakitchen.csv',encoding='ISO-8859-1')

In [3]:
data

,id,commentText,Labels
0,Ugy_CBm-_CKA3YqrzcB4AaABAg,Pudina ptta nhi dalu to,7
1,Ugy9mx9nuTWJu4dRac14AaABAg,Chiken kacha tu ni rhy ga sis,7
2,Ugz8T2MKLYucL3dM9nh4AaABAg,"Hello mam, I love your all recipes.... ðð...",4
3,Ugx_1cCjRbCaDgL0FLF4AaABAg,Its awesome recipe plzz make handi chicken in ...,2
4,UgzLhKVAJ6NN3nZXyjN4AaABAg,Yeh jo measurement hai.........kitne logon ke ...,7
...,...,...,...
4895,UgjFXyC0Qhzk5ngCoAEC,i love chole...thank you kabitaji for sharing ...,1
4896,UghP3bitlJuM13gCoAEC,thnakyou mm,1
4897,UghztLZOqvedfXgCoAEC,thanks mam,1
4898,UggX5Fi2Y430zXgCoAEC,u r fabulous,4
4899,UghTaB9XvOQ_MngCoAEC,thnq fr the recipe. ð,1

In [4]:
data = data.drop(columns='id')

In [5]:
data

                                            commentText  Labels
0                               Pudina ptta nhi dalu to       7
1                         Chiken kacha tu ni rhy ga sis       7
2     Hello mam, I love your all recipes.... ðð...       4
3     Its awesome recipe plzz make handi chicken in ...       2
4     Yeh jo measurement hai.........kitne logon ke ...       7
...                                                 ...     ...
4895  i love chole...thank you kabitaji for sharing ...       1
4896                                        thnakyou mm       1
4897                                         thanks mam       1
4898                                       u r fabulous       4
4899                          thnq fr the recipe.  ð       1

[4900 rows x 2 columns]

In [6]:
data['commentText'][0]

'Pudina ptta nhi dalu to'

In [7]:
#lowercasing on one document
data['commentText'][0].lower()

'pudina ptta nhi dalu to'

#### lowerCasing

In [8]:
data['commentText'] = data['commentText'].str.lower()

In [9]:
data.head()

                                         commentText  Labels
0                            pudina ptta nhi dalu to       7
1                      chiken kacha tu ni rhy ga sis       7
2  hello mam, i love your all recipes.... ðð...       4
3  its awesome recipe plzz make handi chicken in ...       2
4  yeh jo measurement hai.........kitne logon ke ...       7

#### Removal of special  symbols

In [10]:
import re

In [11]:
def removeSpecialCharacter(data):
    data = re.sub(r"[^a-zA-Z0-9 ]", "", data)
    return data

In [12]:
#apply only one document
removeSpecialCharacter('hello mam, i love your all recipes.... ðð...')

'hello mam i love your all recipes '

In [13]:
# apply for corpus
data['commentText'] = data['commentText'].apply(removeSpecialCharacter)

In [14]:
data

                                            commentText  Labels
0                               pudina ptta nhi dalu to       7
1                         chiken kacha tu ni rhy ga sis       7
2     hello mam i love your all recipes all the ingr...       4
3     its awesome recipe plzz make handi chicken in ...       2
4         yeh jo measurement haikitne logon ke liye hai       7
...                                                 ...     ...
4895  i love cholethank you kabitaji for sharing rhe...       1
4896                                        thnakyou mm       1
4897                                         thanks mam       1
4898                                       u r fabulous       4
4899                               thnq fr the recipe         1

[4900 rows x 2 columns]

#### Remove urls

In [15]:
def remove_url(data):
    pattern = re.compile(r'https?://\S+/www\.\S+')
    return pattern.sub(r'',data)

In [16]:
remove_url('www.google.com')

'www.google.com'

#### remove puntuaction

In [17]:
from string import punctuation

In [18]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [19]:
punc = punctuation

In [20]:
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
def removePunctuation(data):
    for e in punc:
        data = data.replace(e,'')
    return data

In [22]:
removePunctuation

In [23]:
removePunctuation('string. with Punctuation.!!')

'string with Punctuation'

In [24]:
data['commentText'] = data['commentText'].apply(removePunctuation)

#### remove stopwords

In [25]:
import spacy

In [26]:
nlp=spacy.load("en_core_web_sm")

In [27]:
doc = nlp("Hello")

In [28]:
for e in doc:
    print(e)

Hello

In [29]:
doc = nlp(data['commentText'][0])

In [30]:
from nltk.corpus import stopwords

In [31]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [32]:
def removeStopwords(data):
    new_data = []
    for w in data.split():
        if w in stopwords.words('english'):
            new_data.append('')
        else:
            new_data.append(w)
    x=new_data[:]
    new_data.clear()
    return " ".join(x)

In [33]:
data['commentText']=data['commentText'].apply(removeStopwords)

In [34]:
data

                                            commentText  Labels
0                                 pudina ptta nhi dalu        7
1                         chiken kacha tu ni rhy ga sis       7
2     hello mam  love   recipes   ingredients  easil...       4
3         awesome recipe plzz make handi chicken  handi       2
4         yeh jo measurement haikitne logon ke liye hai       7
...                                                 ...     ...
4895   love cholethank  kabitaji  sharing rhe recipe...       1
4896                                        thnakyou mm       1
4897                                         thanks mam       1
4898                                       u r fabulous       4
4899                                    thnq fr  recipe       1

[4900 rows x 2 columns]

#### Tokenization

In [35]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [36]:
def wordTokenization(data):
    x=[]
    for e in data.split():
        x.append(e)
    y=x[:]
    x.clear()
    
    return y

In [37]:
wordTokenization("i am going to usa  for 1 year")

['i', 'am', 'going', 'to', 'usa', 'for', '1', 'year']

In [38]:
testCase=[
    ['I am going to visit Banglore'],
    ['Hello how are you'],
    ['Hello what are you doing'],
    ['Is everything alright']
]

In [39]:
testCase

[['I am going to visit Banglore'],
 ['Hello how are you'],
 ['Hello what are you doing'],
 ['Is everything alright']]

In [40]:
tdf = pd.DataFrame(testCase)

In [41]:
tdf

                              0
0  I am going to visit Banglore
1             Hello how are you
2      Hello what are you doing
3         Is everything alright

In [42]:
tdf[0]

0    I am going to visit Banglore
1               Hello how are you
2        Hello what are you doing
3           Is everything alright
Name: 0, dtype: object

In [43]:
tdf[0].apply(wordTokenization)

0    [I, am, going, to, visit, Banglore]
1                 [Hello, how, are, you]
2         [Hello, what, are, you, doing]
3              [Is, everything, alright]
Name: 0, dtype: object

#### Stemming

In [44]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [45]:
def stemming(data):
    y=[]
    for e in data:
        y.append(ps.stem(e))
    z=y[:]
    y.clear() 
    return z

In [46]:
ex=['loving','loves','loved' 'it']

In [47]:
stemming(ex)

['love', 'love', 'lovedit']

In [48]:
data.head(20)

                                          commentText  Labels
0                               pudina ptta nhi dalu        7
1                       chiken kacha tu ni rhy ga sis       7
2   hello mam  love   recipes   ingredients  easil...       4
3       awesome recipe plzz make handi chicken  handi       2
4       yeh jo measurement haikitne logon ke liye hai       7
5   kabita mam  tried ur egg biryani everyone   ho...       5
6                               cooker  kar sakte  na       7
7   mujhe bhot ache lagi apki respi mene subscribe...       2
8             mamdahi k jgh p kuch  use kr skte h kya       7
9                          wooooooo   yummmmmm  love        5
10     perfect biryani recipe apko follow kar k ba...       2
11  hi didi   always curious   biryani made thank ...       1
12        thanx respect frommadam appne tel nahy dala       5
13              made   taste awesome thank  kabita ji       5
14                                      youre amazing       4
15                                         nice video       3
16  aur kya  recipe ko cokar  bana sakte heplease ...       7
17        aur mam isme aap chawal kitne k g use kiya        7
18                            rice  oil dale  chalega       7
19  masha allah  yummy  main thing  u  like   vide...       4

In [49]:
# No need to perform stemming here i think

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
type(data['commentText'])

pandas.core.series.Series

In [52]:
data['commentText'][0]

'pudina ptta nhi dalu '

In [53]:
type(data['commentText'][0])

str

In [54]:
from sklearn.feature_extraction.text import CountVectorizer 
cv = CountVectorizer(max_features=500)

In [55]:
x_data_transform = cv.fit_transform(data['commentText']).toarray()

array([[1, 1, 1, 1]], dtype=int64)

In [57]:
x_data_transform.shape

(4900, 500)

In [58]:
x_data_transform[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [59]:
y_data = data['Labels']

In [60]:
y_data

0       7
1       7
2       4
3       2
4       7
       ..
4895    1
4896    1
4897    1
4898    4
4899    1
Name: Labels, Length: 4900, dtype: int64

In [61]:
y_data.shape

(4900,)

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train,x_test,y_train,y_test = train_test_split(x_data_transform,y_data,test_size=0.2)

In [64]:
x_train.shape

(3920, 500)

In [65]:
x_test.shape

(980, 500)

In [66]:
from sklearn.naive_bayes import MultinomialNB

In [67]:
multi = MultinomialNB(alpha=1)

In [68]:
multi

MultinomialNB(alpha=1)

In [69]:
multi.fit(x_train,y_train)

MultinomialNB(alpha=1)

In [70]:
y_pred = multi.predict(x_test)

In [71]:
y_pred

array([2, 5, 2, 7, 3, 4, 4, 5, 4, 3, 4, 3, 7, 2, 5, 2, 4, 5, 7, 2, 4, 5,
       6, 2, 3, 4, 2, 3, 1, 5, 4, 1, 3, 7, 1, 4, 5, 4, 3, 7, 3, 1, 5, 4,
       4, 3, 7, 4, 1, 7, 6, 6, 4, 3, 2, 1, 1, 3, 4, 1, 2, 1, 2, 3, 3, 5,
       5, 3, 2, 6, 4, 3, 5, 1, 4, 4, 4, 3, 6, 3, 7, 7, 5, 5, 7, 6, 3, 4,
       5, 3, 2, 4, 2, 7, 5, 7, 5, 7, 6, 7, 3, 4, 1, 5, 2, 3, 3, 5, 4, 3,
       4, 5, 3, 3, 2, 4, 2, 5, 5, 1, 6, 1, 6, 5, 1, 5, 1, 6, 5, 7, 2, 5,
       6, 3, 7, 4, 3, 7, 3, 7, 7, 4, 4, 1, 6, 4, 2, 2, 6, 7, 7, 5, 5, 4,
       1, 5, 3, 3, 4, 5, 1, 4, 5, 5, 5, 5, 2, 6, 2, 7, 4, 1, 7, 5, 3, 4,
       4, 3, 6, 6, 4, 1, 3, 4, 2, 4, 7, 4, 7, 7, 6, 4, 2, 1, 2, 3, 7, 2,
       5, 7, 7, 1, 4, 1, 1, 3, 5, 5, 3, 7, 5, 7, 5, 5, 6, 3, 4, 2, 4, 1,
       2, 2, 5, 7, 3, 1, 1, 6, 1, 5, 3, 5, 4, 5, 7, 3, 5, 2, 6, 1, 4, 2,
       7, 4, 3, 4, 6, 2, 5, 7, 2, 7, 1, 1, 2, 7, 2, 4, 4, 5, 6, 4, 6, 4,
       4, 3, 1, 7, 2, 3, 4, 4, 5, 3, 4, 2, 4, 1, 1, 2, 2, 3, 7, 2, 1, 2,
       2, 3, 7, 3, 4, 7, 4, 7, 5, 2, 7, 7, 1, 4, 4, 4, 7, 5, 7, 4, 2, 3,
       4, 5, 1, 3, 2, 5, 4, 5, 3, 2, 5, 2, 1, 5, 6, 3, 4, 4, 4, 1, 6, 4,
       4, 6, 6, 7, 1, 1, 2, 7, 7, 7, 3, 5, 7, 3, 2, 7, 6, 1, 6, 4, 6, 7,
       3, 5, 2, 7, 6, 5, 1, 7, 2, 2, 4, 7, 7, 3, 4, 5, 5, 1, 3, 3, 2, 7,
       3, 1, 6, 7, 3, 4, 5, 3, 5, 7, 4, 7, 7, 3, 7, 3, 4, 2, 1, 3, 7, 6,
       3, 6, 3, 7, 2, 6, 1, 5, 1, 1, 4, 6, 2, 1, 5, 5, 1, 7, 7, 3, 2, 1,
       4, 1, 2, 1, 5, 6, 7, 3, 4, 3, 5, 3, 3, 1, 7, 5, 2, 4, 7, 4, 2, 2,
       4, 6, 5, 1, 3, 7, 2, 5, 3, 7, 2, 6, 1, 5, 6, 1, 2, 3, 3, 1, 4, 2,
       6, 3, 5, 3, 3, 3, 2, 1, 5, 4, 5, 3, 2, 7, 1, 3, 3, 5, 6, 6, 6, 3,
       5, 7, 5, 2, 3, 1, 2, 3, 3, 6, 1, 1, 5, 7, 6, 7, 7, 7, 3, 4, 7, 6,
       4, 7, 3, 3, 1, 3, 4, 6, 1, 1, 5, 7, 2, 4, 7, 5, 3, 2, 7, 4, 7, 7,
       7, 3, 7, 2, 1, 3, 2, 3, 7, 1, 1, 2, 2, 3, 6, 6, 2, 1, 2, 3, 3, 7,
       6, 3, 5, 5, 4, 5, 2, 6, 4, 1, 3, 1, 6, 5, 5, 3, 7, 4, 6, 2, 2, 1,
       7, 5, 3, 5, 5, 2, 2, 4, 2, 1, 5, 7, 7, 2, 2, 1, 5, 6, 5, 5, 3, 4,
       7, 7, 7, 7, 6, 1, 1, 1, 1, 4, 7, 7, 1, 2, 1, 6, 5, 1, 4, 1, 1, 5,
       4, 4, 2, 3, 2, 7, 7, 5, 2, 3, 5, 6, 5, 5, 3, 3, 4, 5, 3, 2, 3, 1,
       7, 2, 6, 4, 4, 1, 3, 6, 5, 4, 7, 7, 3, 4, 3, 7, 5, 5, 2, 6, 4, 2,
       5, 6, 2, 2, 7, 3, 6, 2, 6, 2, 5, 2, 2, 4, 1, 4, 6, 7, 1, 7, 2, 2,
       2, 1, 5, 5, 5, 1, 2, 5, 4, 2, 4, 6, 3, 5, 5, 1, 5, 3, 4, 5, 2, 1,
       1, 1, 6, 4, 7, 7, 5, 3, 3, 7, 7, 3, 7, 5, 3, 3, 7, 7, 7, 1, 6, 1,
       7, 2, 4, 7, 5, 4, 7, 2, 5, 5, 3, 5, 6, 6, 2, 4, 7, 3, 1, 1, 1, 2,
       2, 5, 1, 2, 1, 4, 5, 3, 1, 3, 2, 6, 3, 4, 4, 1, 2, 3, 4, 5, 7, 1,
       3, 4, 2, 3, 7, 7, 5, 2, 7, 5, 7, 6, 1, 5, 4, 7, 5, 3, 4, 5, 5, 6,
       1, 7, 4, 3, 4, 4, 3, 7, 1, 2, 6, 3, 5, 2, 7, 4, 6, 1, 5, 5, 1, 3,
       6, 4, 5, 5, 6, 6, 3, 5, 2, 2, 3, 7, 7, 6, 7, 7, 1, 5, 5, 5, 1, 5,
       5, 5, 2, 3, 2, 3, 1, 5, 4, 7, 7, 1, 3, 2, 4, 2, 5, 3, 2, 1, 7, 4,
       3, 1, 4, 2, 5, 4, 7, 7, 3, 1, 6, 5, 4, 1, 5, 6, 5, 1, 3, 1, 7, 3,
       1, 3, 4, 1, 5, 7, 2, 5, 6, 7, 7, 6, 5, 7, 2, 4, 1, 4, 5, 2, 2, 3,
       1, 3, 7, 5, 1, 7, 5, 2, 5, 4, 2, 5, 3, 7, 2, 3, 4, 3, 1, 7, 5, 4,
       2, 3, 2, 2, 4, 1, 4, 1, 5, 1, 7, 1, 1, 7, 5, 7, 5, 5, 6, 5, 1, 4,
       3, 3, 1, 2, 7, 7, 4, 1, 7, 3, 5, 6, 5, 6, 5, 4, 1, 6, 1, 7, 6, 2,
       7, 4, 1, 4, 5, 4, 1, 6, 4, 3, 2, 3], dtype=int64)

In [72]:
y_pred.shape

(980,)

In [73]:
y_test.shape

(980,)

In [74]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [75]:
# print(accuracy_score(y_train,x_train))

In [76]:
print(accuracy_score(y_test,y_pred))

0.6877551020408164

In [77]:
confusion_matrix(y_pred,y_test)

array([[ 98,   2,   0,   3,  19,  13,   3],
       [  1, 108,  10,   2,  11,   5,   0],
       [  1,   9, 123,  10,   7,   3,   0],
       [  2,   4,   4, 105,  11,  15,   4],
       [ 22,  15,  10,  15,  76,  19,   6],
       [  7,   3,   2,  11,   3,  48,  15],
       [  0,   1,   0,   1,   3,  34, 116]], dtype=int64)

In [78]:
multi.score(x_train,y_train)

0.7571428571428571

In [79]:
multi.score(x_test,y_test)

0.6877551020408164

In [80]:
x_test[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [81]:
y_test.iloc[0]

2

In [85]:
import pickle

In [86]:
# pickle.dump(multi, open('multi.sav','wb'))

In [87]:
# pickle.dump(cv,open('cv.sav','wb'))

In [405]:
from sklearn.model_selection import RandomizedSearchCV

In [406]:
#first time 68% accuracy
#second time after hyperparameter tunning 70% accuracy

In [80]:


import re

class specialCharacterRemover:
    def __init__(self):
        pass

    def sCR(self,data):
        self.data = data
        self.data = re.sub(r"[^a-zA-Z0-9 ]", "", self.data)
        return self.data

In [84]:
s = specialCharacterRemover()
s.sCR("This, is. test''ing")

'This is testing'

In [90]:
class lowerCasing:
    def __init__(self):
        pass
    def LC(self,data):
        self.data = data
        self.data['commentText'] = self.data['commentText'].str.lower()
        return self.data

In [93]:
# lc = lowerCasing()
# lc.LC('Hiiii ADITYA')

In [94]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

class Stemmer:
    def __init__(self):
        pass 


    def ST(self,data):
        self.data = data
        self.y=[]
        for e in self.data:
            self.y.append(ps.stem(e))
        self.z=self.y[:]
        self.y.clear() 
        return self.z

In [97]:
s = Stemmer()
s.ST(['Love',' Loving ','loves',' lovely'])

['love', ' loving ', 'love', ' love']

In [98]:
from nltk.corpus import stopwords
class RemoveStopWord:
    def __init__(self):
        pass 


    def RSW(self,data):
        self.data = data
        self.new_data = []
        for w in self.data.split():
            if w in stopwords.words('english'):
                self.new_data.append('')
            else:
                self.new_data.append(w)
        self.x=self.new_data[:]
        self.new_data.clear()
        return " ".join(self.x)

In [99]:
r = RemoveStopWord()

In [100]:
r.RSW('There are three this is Hello nice it')

'There  three   Hello nice '